albumentations==2.0.8
beautifulsoup4==4.13.4
clip==0.2.0
comet_ml==3.49.11
coremltools==8.3.0
csscompressor==0.9.5
dvclive==3.48.2
Flask==3.1.1
hub_sdk==0.0.20
ipython==9.3.0
jsmin==3.0.1
lap==0.5.12
matplotlib==3.10.3
mct_quantizers==1.6.0
minify_html==0.16.4
mss==10.0.0
numpy==1.26.4
onnx==1.18.0
onnx2tf==1.27.10
onnxruntime==1.22.0
onnxslim==0.1.57
opencv_python==4.11.0.86
openvino==2025.1.0
pafy==0.5.5
pandas==2.3.0
Pillow==11.2.1
pillow_heif==0.22.0
psutil==7.0.0
py_cpuinfo==9.0.0
pycocotools==2.0.10
pytest==8.4.0
pytubefix==9.1.2
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.4
roboflow==1.1.66
scikit_learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
sentry_sdk==2.30.0
Shapely==2.1.1
streamlit==1.45.1
tensorrt==10.12.0.36
torch
torchvision
torchaudio
ultralytics 